extends layout

block content
  h2.index Posts
  - posts.forEach(function (post) {
    section.post.teaser
      span.num= post.id + '. '
      a.link(href="/" + post.slug)= post.title
      = ' '
      span.rate(data-id=post.id)
        span.front -
      = ' '
      span.date= post.created_at
  - })
