!!! 5
html
  head
    meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1')
    style
      @font-face {
        font-family: 'Existence';
        src: url('/fonts/existence/font.woff') format('woff'),
             url('/fonts/existence/font.ttf') format('truetype'),
             url('/fonts/existence/font#ExistenceLight') format('svg');
        font-weight: normal;
        font-style: normal;
      }

    link(rel='stylesheet',href='/css/normalize.css')
    link(rel='stylesheet',href='/css/main.css')

    link(rel='icon',type='image/png',href='/images/favicon.png')
    title= title
  body
    nav
      header
        if title
          h1= title
        else
          h1 Engineering
          h1 Compilers
          h1 Bears
      footer
        span Copyright 
        a(href="https://github.com/indutny") Fedor Indutny
        br
        span view 
        a(href='http://opensource.org/licenses/mit-license.php') license
    section#content
      block content
    div.clear

  script(src='/socket.io/socket.io.js')
  script(src='/js/zepto.min.js')
  script(src='/js/main.js')
  script var _gaq = _gaq || [];_gaq.push(['_setAccount', 'UA-23983339-1']);_gaq.push(['_trackPageview']);(function() {var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
