extends layout



block append header
  include rate

block prepend header
  a.home-link(href='/')= '&lt;&lt;'

block content
  section.post.big
    section.post-content
      != post.content
      div.date
        = 'Created at: ' + post.created_at
      div#disqus_thread
