extends layout

block content
  section.post.big
    include rate
    section.post-content
      a.home-link(href='/')!= '&lt;&lt; Home'
      != post.content
      div.date
        = 'Created at: ' + post.created_at
