* {
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #444;
}

html, body {
  height: 100%;
  background: #222;
  font-family: Helvetica, Arial, serif;
}

.clear {
  clear: both;
}

nav {
  position: relative;
  float: left;
  width: 360px;
  text-align: right;
  display: block;
  margin: 0 32px 0 0;
  padding: 4px 32px 0 8px;
  height: 100%;
}

nav header h1 {
  color: #fff;
  font-family: Existence;
  font-size: 48px;
}

h2.index {
  font-size: 36px;
}

nav footer {
  position: absolute;
  right: 0px;
  bottom: 0px;
  padding: 8px 32px 8px 8px;
}

nav footer, nav footer a {
  font-size: 11px;
  color: #aaa;
}

section#content {
  position: relative;
  padding: 24px 32px;
  max-width: 800px;
  min-height: 100%;
  background: #fff;
  float: left;
}

section#content h2.index {
  text-align: center;
}

section#content section.post-content div.date {
  text-align: right;
  font-style: italic;
  font-size: 16px;
}

section#content a.home-link {
  font-family: Existence;
  font-size: 36px;
  color: #333;
  text-decoration: none;
}


section.post.teaser {
  margin: 16px 0;
}

section.post.teaser .rate {
  display: inline-block;
  border: 1px solid #aaa;
  margin: 0 8px 0 4px;
  padding: 2px;
}

section.post.teaser .date {
  color: #ccc;
}

/* Text formatting */

section#content p,
section#content a,
section#content li,
section#content b,
section#content strong,
section#content i {
  font-family: Helvetica;
  font-size: 22px;
  line-height: 28px;
}

section#content p {
  margin: 32px 0;
}

section#content ul,
section#content ol {
  padding: 0 0 0 21px;
}

section#content img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

section#content pre {
  padding: 3px 6px;
}

section#content pre code, div.gist {
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
  font-size: 15px;
  line-height: 18px;
}

/*
 * Rate
 */

section#content section.post.big .rate {
  position: absolute;
  right: -144px;
  top: 27px;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 108px;
  font-size: 45px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;

  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;

  cursor: pointer;
}

section#content section.post.big .rate .wrapper {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: transform 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
}

section#content section.post.big .rate.voting .wrapper,
section#content section.post.big .rate.can-vote:hover .wrapper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

section#content section.post.big .rate .front,
section#content section.post.big .rate .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border: 6px solid #2e63ad;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -o-border-radius: 60px;
  -ms-border-radius: 60px;

  -webkit-box-shadow: 0 0 3px rgba(34,34,34,0.6);
  -moz-box-shadow: 0 0 3px rgba(34,34,34,0.6);
  -o-box-shadow: 0 0 3px rgba(34,34,34,0.6);
  -ms-box-shadow: 0 0 3px rgba(34,34,34,0.6);
  box-shadow: 0 0 3px rgba(34,34,34,0.6);
}

section#content section.post.big .rate .front {
  background: white;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  z-index: 2;
}

section#content section.post.big .rate .back {
  display: block;
  color: white;
  background: #ee4966;
  text-decoration: none;
  font-size: 50px;
  line-height: 108px;
  z-index: 1;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

@media screen and (max-width: 767px) {
  nav {
    position: inherit;
    float: none;
    height: auto;
    padding-right: 4px;
    text-align: center;
    width: auto;
    margin: 0;
  }

  nav footer {
    position: inherit;
    float: right;
    text-align: right;
  }

  nav header h1 {
    font-size: 24px;
  }

  section#content {
    padding: 24px 8px 8px 8px;
    max-width: auto;
  }

  section#content a.home-link {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 16px;
  }

  section#content section.post.big .rate {
    position: absolute;
    right: 8px;
    top: 27px;
    width: 60px;
    height: 60px;
    line-height: 54px;
    font-size: 24px;
  }

  section#content section.post.big .rate .front,
  section#content section.post.big .rate .back {
    width: 60px;
    height: 60px;
    border: 3px solid #2e63ad;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;

    -webkit-box-shadow: 0 0 3px rgba(34,34,34,0.6);
    -moz-box-shadow: 0 0 3px rgba(34,34,34,0.6);
    -o-box-shadow: 0 0 3px rgba(34,34,34,0.6);
    -ms-box-shadow: 0 0 3px rgba(34,34,34,0.6);
    box-shadow: 0 0 3px rgba(34,34,34,0.6);
  }

  section#content section.post.big .rate .back {
    font-size: 25px;
    line-height: 54px;
  }

  section#content pre,
  section#content pre code,
  div.gist {
    font-size: 16px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
  }
}
