* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;

  font-family: Helvetica, Arial, sans-serif;
}

html, body, #wrapper {
  min-height: 100%;
}

body {
  background: #fff;
  color: #333;
  font-size: 105%;
}

h1, h2, h3, h4, h5 {
  color: #222;
  font-weight: bold;
  text-rendering: optimizelegibility;
  margin: 1em 0;
}

/*
 * #31353a - bg
 * #3a7edc - main
 * #20467a - secondary
 * #2e63ad - secondary light
 * #ee4966 - alternative
 */

a {
  color: #20467a;
}

a:visited {
  color: #2e63ad;
}

#wrapper {
  position: relative;
  width: 800px;
  margin: 0 auto;
}

header {
  border-bottom: 3px solid #20467a;
  padding: 1em;
  position: relative;
}

header h1 {
  text-align: center;
  color: #31353a;
  font-size: 3em;
  margin: 0;
}

header .home-link {
  position: absolute;
  bottom: 0em;
  left: 0;
  line-height: 2em;
  text-decoration: none;
}

#content {
  padding: 1em 0px;
}

footer {
  font-size: 0.8em;
  width: 800px;
  margin-top: 1em;
  padding: 1em;
  text-align: right;
}

span.date {
  font-size: 0.6em;
}

div.date {
  text-align: right;
  font-size: 0.8em;
  margin: 1em;
}

section.post.teaser {
  margin: 0.2em 0;
  position: relative;
  font-size: 1.2em;
}


section.post h1 {
  font-size: 1.5em;
}

div.rate {
  position: absolute;
  right: -40px;
  bottom: -40px;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;

  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;

  cursor: pointer;
}

div.rate .wrapper {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: transform 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
}

div.rate.voting .wrapper,
div.rate.can-vote:hover .wrapper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

div.rate .front,
div.rate .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border: 6px solid #20467a;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -o-border-radius: 60px;
  -ms-border-radius: 60px;
}

div.rate .front {
  background: white;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  z-index: 2;
}

div.rate .back {
  display: block;
  color: white;
  background: #ee4966;
  text-decoration: none;
  z-index: 1;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* Text formatting */

.post-content {
}
section.post-content p,
section.post-content a,
section.post-content li,
section.post-content b,
section.post-content strong,
section.post-content i {
}

section.post-content p {
  margin: 1em 0;
}

section.post-content ul,
section.post-content ol {
  padding: 0 0 0 1em;
}

section.post-content img {
  display: block;
  margin: 1em auto;
}

section.post-content pre {
  background: #eee;
  padding: 0.5em 0.8em;
}

section.post-content pre code {
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
  font-size: 0.75em;
  line-height: 1.2;
}
