* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;

  font-family: 'Indie Flower', cursive;
}

html, body, #wrapper {
  min-height: 100%;
}

body {
  background: #31353a url(/images/bg.png) repeat repeat;
}

/*
 * #31353a - bg
 * #3a7edc - main
 * #20467a - secondary
 * #2e63ad - secondary light
 * #ee4966 - alternative
 */

a {
  color: #20467a;
}

a:visited {
  color: #2e63ad;
}

#wrapper {
  position: relative;

  width: 800px;
  margin: 0 auto;
  background: rgba(255,255,255,0.94);
  -webkit-box-shadow: 0 0 12px #3a7edc;
  -moz-box-shadow: 0 0 12px #3a7edc;
  -o-box-shadow: 0 0 12px #3a7edc;
  -ms-box-shadow: 0 0 12px #3a7edc;
  box-shadow: 0 0 12px #3a7edc;
}

header {
  height: 90px;
  padding-bottom: 6px;
  border-bottom: 3px solid #20467a;
}

header h1 {
  padding: 18px 0;
  text-align: center;
}

header .home-link {
  margin-right: 33px;
}

#content {
  padding: 3px 21px 32px 12px;
  font-size: 21px;
}

footer {
  width: 800px;
  margin-top: 18px;
  padding: 3px 6px 0 6px;
  height: 30px;
  text-align: right;
  font-size: 15px;
}

span.date {
  font-size: 11px;
}

div.date {
  text-align: right;
}

section.post.big .rate {
  position: absolute;
  right: -60px;
  top: 27px;
  width: 120px;
  height: 120px;
  text-align: center;
  line-height: 108px;
  font-size: 45px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;

  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;

  cursor: pointer;
}

section.post .rate .wrapper {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: transform 0.3s linear;
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
}

section.post .rate.voting .wrapper,
section.post .rate.can-vote:hover .wrapper {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}

section.post.big .rate .front,
section.post.big .rate .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  border: 6px solid #2e63ad;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -o-border-radius: 60px;
  -ms-border-radius: 60px;

  -webkit-box-shadow: 0 0 3px rgba(34,34,34,0.6);
  -moz-box-shadow: 0 0 3px rgba(34,34,34,0.6);
  -o-box-shadow: 0 0 3px rgba(34,34,34,0.6);
  -ms-box-shadow: 0 0 3px rgba(34,34,34,0.6);
  box-shadow: 0 0 3px rgba(34,34,34,0.6);
}

section.post.big .rate .front {
  background: white;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  z-index: 2;
}

section.post.big .rate .back {
  display: block;
  color: white;
  background: #ee4966;
  text-decoration: none;
  font-size: 50px;
  z-index: 1;
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* Text formatting */

section.post-content p,
section.post-content a,
section.post-content li,
section.post-content b,
section.post-content strong,
section.post-content i {
  font-family: Helvetica;
  font-size: 15px;
}

section.post-content p {
  margin: 15px 0;
}

section.post-content ul {
  padding: 0 0 0 21px;
}

section.post-content img {
  display: block;
  margin: 0 auto;
}

section.post-content pre {
  background: white;
  border: 1px solid #20467a;
  padding: 3px 6px;
}

section.post-content pre code {
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
  font-size: 15px;
  line-height: 18px;
}
